<div class="text">
    <mat-card class="example-card">
      <img mat-card-image class="logo" src="https://cdn.dribbble.com/users/822220/screenshots/14628147/cosmetic_shop_logo_design.png" alt="Photo of a Shiba Inu">
      <mat-card-header>
        <mat-card-title class="contact">KONTAKT</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <p>
CM-COSMETIC MARKET d.o.o. Vitez<br>
Poslovni centar 96/2, 72250 Vitez, BiH<br>
063 836 837<br>
<br>
online@cmshop.ba<br>
<br>
JIB: 4236280580005<br>
Šifra djelatnosti: 47.75 trgovina na malo kozmetičkim i toaletnim proizvodima<br>
<br>
Broj rješenja: 051-0-Reg-20-00216 od 04.06.2020.godine<br>
Carinski broj: 236280580005<br>
Sjedište: Poslovni centar 96, Vitez<br>
        </p>
        
      </mat-card-content>
    
    </mat-card>
    </div>
    
