<div class="text">
    <mat-card class="example-card">

        <mat-card-header class="header">
            <mat-card-title >LOKACIJA I RADNO VRIJEME NAŠIH POSLOVNICA</mat-card-title>
        </mat-card-header>
        <mat-card class="location">
            <mat-card-content class="city">DOBOJ</mat-card-content>
        
            <p >Trg Svetog Save br.30<br>
                062 975 865
                <br>
                Pon.-Pet.: 08:00 - 20:00 <br>
                Subota: 08:00 - 19:00<br>
                Nedjelja: neradna
                <br>
                <br>
            </p>
            <mat-card-content  class="city">BANJA LUKA</mat-card-content>
        
            <p> Veselina Masleše br.10 (Gospodska)	<br>
                062 983 862<br>
                Pon.-Pet.: 08:00 - 20:00 <br>
                Subota: 08:00 - 19:00<br>
                Nedjelja: neradna
            </p>
        </mat-card>
    </mat-card>
</div>