.content {
    padding: 16px;
    display: flex;


}

.item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;



}

.iteme {
    margin-bottom: 15px;
    margin-right: 30px;
    max-width: 450px;
    max-height: 500px;
    min-height: 500px;
    align-items: stretch;



}